numpy
matplotlib
pandas
jupyterlab
scipy
scikit-image
scikit-learn
tqdm
networkx
shapely
pip
pillow
rasterio
opencv-python
rtree
tensorflow==2.13.0
torch
torchvision
segment-anything
segmenteverygrain